*{
    margin: 0;
    padding: 0;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
    color: slategray;
}
body{
    background-color: #080325;
}
.clearfix::after{
    content: "";
    display: block;
    height: 0;
    visibility: hidden;
    clear: both;
}
.headerNav{
    height: 80px;
    padding: 15px 30px;
    background-color: #000;
    box-sizing: border-box;
}
.logo{
    margin:0 50px;
}
.headerNav .logo a{
    display: block;
    overflow: hidden;
    width: 100px;
    height: 50px;
    background: url('../image/logo.jpg') no-repeat;
    text-indent: -999em;
}
.logo,ul{
    float: left;
}
.search{
    height: 50px;
    float: right;
    line-height: 50px;
}
ul li{
    position: relative;
    float: left;
    height: 50px;
    line-height: 50px;
    margin-right: 40px;
}
/* 如果想要下边的横线由中间向两边伸长，使用定位将其定为在中间，然后width:100% */
ul li::after{
    content: "";
    position: absolute;
    bottom: -15px;
    left: 50%;
    transform: translateX(-50%);
    display: block;
    width: 0%;
    height: 2px;
    background-color: #fff;
    transition: all 0.3s ease;
}
ul li:hover a{
    color: #fff;
}
ul li:hover::after{
    width: 100%;
}
.search em{
    display: inline-block;
    vertical-align: middle;
    width: 24px;
    height: 26px;
    /* margin-top: 10px; */
    background: url("../image/index_sprite.png") no-repeat -95px -214px;
    cursor: pointer;
}
.search input{
    border: none;
    outline: none;
    width: 0;
    height: 40px;
    margin-top: 5px;
    font-size: 20px;
    transition: all 1s ease;
}
.search:hover input{
    width: 300px;
    padding-left: 15px;
}